data_example/polaron_data/.DS_Store
data_example/polaron_data/type_map.raw
data_example/polaron_data/type.raw
data_example/polaron_data/set.001/.DS_Store
data_example/polaron_data/set.001/box.npy
data_example/polaron_data/set.001/coord.npy
data_example/polaron_data/set.001/energy.npy
data_example/polaron_data/set.001/force.npy
data_example/water_test_data/.DS_Store
data_example/water_test_data/1/.DS_Store
data_example/water_test_data/1/box.raw
data_example/water_test_data/1/coord.raw
data_example/water_test_data/1/energy_before_shift.raw
data_example/water_test_data/1/energy.raw
data_example/water_test_data/1/force.raw
data_example/water_test_data/1/type_map.raw
data_example/water_test_data/1/type.raw
data_example/water_test_data/1/set.000/box.npy
data_example/water_test_data/1/set.000/coord.npy
data_example/water_test_data/1/set.000/energy.npy
data_example/water_test_data/1/set.000/force.npy
data_example/water_test_data/2/box.raw
data_example/water_test_data/2/coord.raw
data_example/water_test_data/2/energy_before_shift.raw
data_example/water_test_data/2/energy.raw
data_example/water_test_data/2/force.raw
data_example/water_test_data/2/type_map.raw
data_example/water_test_data/2/type.raw
data_example/water_test_data/2/set.000/box.npy
data_example/water_test_data/2/set.000/coord.npy
data_example/water_test_data/2/set.000/energy.npy
data_example/water_test_data/2/set.000/force.npy
data_example/water_test_data/3/box.raw
data_example/water_test_data/3/coord.raw
data_example/water_test_data/3/energy_before_shift.raw
data_example/water_test_data/3/energy.raw
data_example/water_test_data/3/force.raw
data_example/water_test_data/3/type_map.raw
data_example/water_test_data/3/type.raw
data_example/water_test_data/3/set.000/box.npy
data_example/water_test_data/3/set.000/coord.npy
data_example/water_test_data/3/set.000/energy.npy
data_example/water_test_data/3/set.000/force.npy
data_example/water_test_data/4/box.raw
data_example/water_test_data/4/coord.raw
data_example/water_test_data/4/energy_before_shift.raw
data_example/water_test_data/4/energy.raw
data_example/water_test_data/4/force.raw
data_example/water_test_data/4/type_map.raw
data_example/water_test_data/4/type.raw
data_example/water_test_data/4/set.000/box.npy
data_example/water_test_data/4/set.000/coord.npy
data_example/water_test_data/4/set.000/energy.npy
data_example/water_test_data/4/set.000/force.npy
data_example/water_test_data/5/box.raw
data_example/water_test_data/5/coord.raw
data_example/water_test_data/5/energy_before_shift.raw
data_example/water_test_data/5/energy_shift.raw
data_example/water_test_data/5/energy.raw
data_example/water_test_data/5/force.raw
data_example/water_test_data/5/type_map.raw
data_example/water_test_data/5/type.raw
data_example/water_test_data/5/set.000/box.npy
data_example/water_test_data/5/set.000/coord.npy
data_example/water_test_data/5/set.000/energy.npy
data_example/water_test_data/5/set.000/force.npy
data_example/water_test_data/6/box.raw
data_example/water_test_data/6/coord.raw
data_example/water_test_data/6/energy_before_shift.raw
data_example/water_test_data/6/energy.raw
data_example/water_test_data/6/force.raw
data_example/water_test_data/6/type_map.raw
data_example/water_test_data/6/type.raw
data_example/water_test_data/6/set.000/box.npy
data_example/water_test_data/6/set.000/coord.npy
data_example/water_test_data/6/set.000/energy.npy
data_example/water_test_data/6/set.000/force.npy
deepmd_jax/__pycache__/__init__.cpython-39.pyc
deepmd_jax/__pycache__/model.cpython-39.pyc
deepmd_jax/__pycache__/data.cpython-39.pyc
deepmd_jax/__pycache__/utils.cpython-39.pyc
